{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	
    <meta charset="UTF-8">
    <title>택트리스</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
	<script  src="http://code.jquery.com/jquery-latest.min.js"></script>


	<meta name="viewport" content="width=device-width,user-scalable=no, minimum-scale:1.0, maximum-sclae:1.0, initial-scale=1">
    <!-- <link rel="stylesheet" href="{% static '04_material.css' %}"> -->
		
    <script type="importmap">
        
        {
            "imports": {
                "three": "/static/three.module.js"  
            }
        }
    </script>
		<script src="{% static 'app.js' %}" type="module" defer></script>
		<!-- <script src="{% static 'app copy.js' %}" type="module" defer></script> -->


    

<style>
	/* #webgl-container {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
} */
#webgl-container2 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}
		.box{
			width: 200px;
			height: 50px; 
			overflow: hidden;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size:30px;
			font-weight: 600;
			}
      	.box:hover{
        background: #E1EAF8;
		}

        input[type="file"]::file-selector-button {
           display:none
          }

		
		.custom-table td {
			padding: 5px; /* 셀 내부의 padding 조절 */
			border: 1px solid black; /* 셀 테두리 설정 */
		}
		.custom-table {
			border-collapse: collapse;
			width: 100%; /* 필요에 따라 조절 */
			border-spacing: 5px 5px; /* 셀 사이 간격 조절 */
		}

		.modal_overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(1.5px);
        -webkit-backdrop-filter: blur(1.5px);
    }

    .modal_window {
        background: white;
        backdrop-filter: blur(13.5px);
        -webkit-backdrop-filter: blur(13.5px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        width: 1000px;
        height: 800px;
        position: relative;
        padding: 10px;
    }
		.close-btn {
            cursor: pointer;
            color: black;
            font-weight: bold;
            margin-top: auto;
            padding-top: 10px;
        }
		/* .popup {
            display: none;
            position: fixed;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background: white;
            border: 2px solid black;
            padding: 40px;
            z-index: 1000;
						width: 600px;
						height: 400px;
						display: flex;
						flex-direction: column;
						justify-content: space-between;
        }

        /* .popup-overlay {
            display: none;
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            z-index: 999;
        } */

        /* .close-btn {
            cursor: pointer;
            color: red;
            font-weight: bold;
            text-align: center;
						margin-top: auto;
						padding-top: 20px;
        } */ 
		
         
          
	  </style>


</head>
<body>
	<!-- <div class="popup-overlay"></div>
	<div id="popup" class="popup">
			<h2>Order Details</h2>
			
			<p id="popup-info"></p>
			<span class="close-btn">Close</span>
	</div> -->

	<!-- 테이블 콘텐츠 -->
	<!-- <h2>Order Table</h2>
	<table border="1">
			<thead>
					<tr>
							<th>Number</th>
							<th>Box Code</th>
							<th>Name</th>
							<th>Road Address</th>
					</tr>
			</thead>
			<tbody>
					<tr class="box_table" data-info="Box Code: ABC123, Name: John Doe, Road Address: 123 Main St">
							<td>1</td>
							<td>ABC123</td>
							<td>John Doe</td>
							<td>123 Main St</td>
					</tr>
					<tr class="box_table" data-info="Box Code: XYZ456, Name: Jane Doe, Road Address: 456 Elm St">
							<td>2</td>
							<td>XYZ456</td>
							<td>Jane Doe</td>
							<td>456 Elm St</td>
					</tr>
			</tbody>
	</table> -->

	<!-- 팝업을 위한 JavaScript 코드 -->
	<!-- <script>
			document.addEventListener('DOMContentLoaded', function () {
					// 테이블의 행을 클릭하면 팝업을 띄움
					const rows = document.querySelectorAll('.box_table');
					const popup = document.getElementById('popup');
					const popupOverlay = document.querySelector('.popup-overlay');
					const popupInfo = document.getElementById('popup-info');
					const closeBtn = document.querySelector('.close-btn');

					// 행을 클릭하면 팝업을 표시하는 이벤트 리스너
					rows.forEach(row => {
							row.addEventListener('click', function () {
									const info = row.getAttribute('data-info');
									popupInfo.textContent = info;
									popup.style.display = 'block';
									popupOverlay.style.display = 'block';
							});
					});

					// 닫기 버튼 및 오버레이를 클릭하면 팝업을 숨김
					[closeBtn, popupOverlay].forEach(element => {
							element.addEventListener('click', function () {
									popup.style.display = 'none';
									popupOverlay.style.display = 'none';
							});
					});
			});
	</script> -->
	<div style="height:100px;background-color:#4676EF;display: flex; flex-direction: row ; text-align: center; justify-content: space-between;">
		<div style="width:200px;" ><a href="/Box/boxlist" style="text-decoration-line:none" id="Home">
			<img style="height: 90px;border: 1px solid black; box-shadow: 2px 2px 2px 2px rgb(77, 71, 71) ;object-fit: contain;"src="/static/image/택트리스 로고.png">
		</a></div>
		<div style="display:flex;flex-direction: row;">
			<div style="padding-top:40px;padding-right:20px;color:white;font-size:20px">{{ user_id }}</div>
			<div style="padding-top:40px;padding-right:20px"><a href="/Login/userlogin" style="text-decoration-line:none;color:white;font-size:20px;"> 로그아웃</a></div>
		</div>
	</div>
	
	<div style=" display:flex;flex-direction: row;">
		<div style="height:700px; width:200px; text-align: center; display: flex;flex-direction: column;justify-content:space-evenly;">
			<div class="box" style="color:black"><a href="/Box/boxlist" style="font-size:35px;text-decoration-line:none;color:black">상품 목록</a></div>
			<div class="box" style="background: #E1EAF8;"><a href="/Load/boxload" style="color:black;font-size:30px;text-decoration-line:none;color:#4676EF">적재</a></div>
			<div class="box"><a href="/Route/map" style="color:black;text-decoration-line:none">지도</a></div>
			<div class="box"><a href="/Route/road" style="color:black;text-decoration-line:none">배송 경로</a></div>
		</div>
		<div style="color:blue;width: 2500px;">
			<div style="width:1150px;height:700px;content-align:center;margin:50px;"> <!--background-color:#4676EF-->
				<button id="loadsequence" type="button"> 적재 순서 변환 </button>
				<ul>
						{% for address in address_list %}
								<div class="roadAddress" style="display : none">{{ address.road_address }}</div>
								<div class="detailAddress" style="display : none">{{ address.detail_address }}</div>    
						{% endfor %} 
				</ul>
				<script type="text/javascript">
					var csrftoken = '{{ csrf_token }}';
				</script>
				<script>
					document.getElementById('loadsequence').addEventListener('click', function() {
							$.ajax({
									url: '/load_sequence/',  // Django 엔드포인트 URL
									type: 'POST',
									headers: {"X-CSRFToken": csrftoken},
									success: function(response) {
											console.log('패킹 결과:', response.results);
											alert("적재 순서 변환 완료");
											// 결과를 웹 페이지에 표시하는 로직을 여기에 추가
									},
									error: function() {
											//alert('Error processing your request');
											console.error(error);
									}
							});
					});
					</script>

<button id="packButton" type="button">main 함수 실행</button>
<script type="text/javascript">
	var csrftoken = '{{ csrf_token }}';
</script>
<script>
	document.getElementById('packButton').addEventListener('click', function() {
			$.ajax({
					url: '/pack-items/',  // Django 엔드포인트 URL
					type: 'POST',
					headers: {"X-CSRFToken": csrftoken},
					success: function(response) {
							console.log('패킹 결과:', response.results);
							alert("적재 완료");
							// 결과를 웹 페이지에 표시하는 로직을 여기에 추가
					},
					error: function() {
							//alert('Error processing your request');
							console.error(error);
					}
			});
	});
	</script>

<button id="layer" type="button"> layer 입력 </button>
				<ul>
						{% for address in address_list %}
								<div class="roadAddress" style="display : none">{{ address.road_address }}</div>
								<div class="detailAddress" style="display : none">{{ address.detail_address }}</div>    
						{% endfor %} 
				</ul>
<script>
	document.getElementById('layer').addEventListener('click', function() {
			$.ajax({
					url: '/layer/',  // Django 엔드포인트 URL
					type: 'POST',
					headers: {"X-CSRFToken": csrftoken},
					success: function(response) {
							console.log('패킹 결과:', response.results);
							alert("레이어 설정 완료");
							// 결과를 웹 페이지에 표시하는 로직을 여기에 추가
					},
					error: function() {
							//alert('Error processing your request');
							console.error(error);
					}
			});
	});
	</script>
		<button id="layer_view" type="button" style="margin-left:1000px"><a href="{% url 'layer_view' %}" style="text-decoration: none; color: inherit;">레이어 보기</a></button>


<!-- <div style="display:flex;flex-direction:row;">
	<input type="search" style="width: 700px;height:50px;color:gray;padding-left:20px;font-size:20px" placeholder="주소, 송장번호, 고객 전화번호 등을 검색하세요" />
	<button type="button"  style="width:100px;background-color:#4676EF;border:none;border-radius:3px;color:white;font-size:30px" > 검색</button>
</div> -->
<!-- <div style="height:70px;width:800px;display:flex;flex-direction:row;justify-content:space-between;text-align:center;color:black;">
	<div >배송순서 순</div>
	<div>주소지 순</div>
	<div>부피 순</div>
</div> -->
<div>
	
	<div id="info" style="font-size:20px;text-align:center;color:black;">
		<div id="infoDisplay" style="font-size:20px;color:black;"> </div>
</div>
</div>
<div id="webgl-container" style="width: 1200px; height: 600px; border: 1px solid black; margin-top:30px; position: relative; overflow:none;" > </div>   
	<!-- <canvas id="canvas" width="1200" height="600"></canvas> -->
	<!-- <div id="webgl-container"> </div> -->

</div>

	<div style="width:1200px; height:600px; margin-left:50px; margin-top:50px; border: 1px solid black;">
		<div class="container" style="position:relative;overflow:auto;height:600px">
			<table class="table table-striped custom-table">
				<thead>
				<tr >
					<td><B>번호</B></td>
					<td ><B>송장 코드</B></td>
					<td><B>고객명</B></td>
					<td><B>도로명 주소</B></td>
					<td><B>상세 주소</B></td>
					<td><B>전화번호</B></td>
					<td><B>길이</B></td>
					<td><B>너비</B></td>
					<td><B>높이</B></td>
					<td><B>배송순서</B></td>
					<td><B>적재순서</B></td>
					<td><B>레이어</B></td>
					<td><B>X좌표</B></td>
					<td><B>Y좌표</B></td>
					<td><B>Z좌표</B></td>
				</tr>
				</thead>
				<tbody id="orderTableBody">
					{% for order in combined_list %}
					<tr class="box_table" id="box_{{ forloop.counter }}" style="cursor:pointer;">
						<td>{{ forloop.counter }}</td>
						<td>{{order.box_code}}</td>
						<td>{{order.name}}</td>
						<td>{{order.road_address}}</td>
						<td>{{order.detail_address}}</td>
						<td>0{{order.phone}}</td>
						<td>{{order.width}}</td>
						<td>{{order.height}}</td>
						<td>{{order.depth}}</td>
						<td>{{order.deliverySequence}}</td>
						<td>{{order.loadSequence}}</td>
						<td>{{order.layer}}</td>
						<td>{{order.positionX}}</td>
						<td>{{order.positionY}}</td>
						<td>{{order.positionZ}}</td>
					</tr>
					{% endfor %}
				<tbody>
			</table>
		</div>
	</div>

<!-- <div class="modal_overlay" id="modal">
	<div class="modal_window">
		<div style="display: flex; flex-direction: row; justify-content: space-between; position:relative; overflow: none;">
			<div>&nbsp;</div>
			<div>상세 정보</div>
			<span class="close-btn">Close</span>
		</div>
		<div id="modal_content" style="width: 200px; height: 80%; display: flex;">
			<div style="flex: 1; padding: 10px;">
				<div id="Display"></div>
			</div>
			<div id="threejs_container" style="width: 700px; height: 100%;"></div>
		
		</div>
			<div style="display: flex; justify-content: center;">
				<button class="modal_button" id="confirmBtn" >적재</button>
				<button class="modal_button" id="cancelBtn">분류</button>
			</div>
	</div> -->
	<div class="modal_overlay" id="modal">
    <div class="modal_window">
			<div class="modal_header">
				<span class="close-btn" id="closeModal" style="cursor: pointer;">&times; Close</span>
		</div>
        <div style="display: flex; flex-direction: column; justify-content: space-between; position: relative; height: 100%;">
            <div style="flex: 1; display: flex; justify-content: center; align-items: center;">
                <div id="Display" style="width: 300px; padding: 10px;">상세 정보 표시 부분</div>
                <div id="threejs_container" style="flex-grow: 1; height: 100%;"></div>
            </div>
            <div style="display: flex; justify-content: center; padding: 10px;">
                <button class="modal_button" id="confirmBtn">적재</button>
                <button class="modal_button" id="cancelBtn">분류</button>
            </div>
        </div>
    </div>
</div>

<script type="module">
	import * as THREE from '/static/three.module.js';
	import { TrackballControls } from '/static/TrackballControls.js';
	
	let scene, renderer, camera, controls;
	

		
	document.addEventListener('DOMContentLoaded', async () => {
		await initializeThreeJS();
    const modal = document.getElementById('modal');
    const closeBtn = document.querySelector('.close-btn');
    const rows = document.querySelectorAll('.box_table');
		
    rows.forEach(row => {
        row.addEventListener('click', async () => {
            // modal.style.display = 'block';
						const data = await loadJSONData();
						updateScene(data);
            // initializeThreeJS(); // 모달 창이 표시될 때 Three.js 초기화
        });
    });

    closeBtn.addEventListener('click', () => {
        modal.style.display = 'none';
				while (scene.children.length > 0) {
            scene.remove(scene.children[0]);
        }
    });
});
async function loadJSONData() {
        const response = await fetch('/static/saved_data.json');
        return await response.json();
	}
function createContainer(width, height, depth, color) {
	    const geometry = new THREE.BoxGeometry(width, height, depth);
	    const material = new THREE.MeshBasicMaterial({
	        color: color,
	        wireframe: true,
	        transparent: true,
	        opacity: 0.5
	    });
	    const containerMesh = new THREE.Mesh(geometry, material);
	    // 컨테이너의 중심이 원점에 위치하도록 설정
	    containerMesh.position.set(width / 2, height / 2, depth / 2);
	    return containerMesh;
}

// 상자와 외곽선을 만드는 함수
function createBoxWithEdges(width, height, depth, color) {
    // 상자 생성
    const geometry = new THREE.BoxGeometry(width, height, depth);
    const material = new THREE.MeshBasicMaterial({ color:color, transparent : true, opacity: 0.7});
    const box = new THREE.Mesh(geometry, material);

    // 상자 외곽선 생성
    const edges = new THREE.EdgesGeometry(geometry);
    const edgesMaterial = new THREE.LineBasicMaterial({ color: 0x000000 });
    const edgesMesh = new THREE.LineSegments(edges, edgesMaterial);

    // 상자와 외곽선을 하나의 그룹으로 묶음
    const group = new THREE.Group();
    group.add(box);
    group.add(edgesMesh);

    return group;
}

function createCustomGrid(width, height, divisionsWidth, divisionsHeight, color) {
    const gridHelper = new THREE.Group();
    const stepWidth = width / divisionsWidth;
    const stepHeight = height / divisionsHeight;

    const material = new THREE.LineBasicMaterial({ color: color });

    // 수평선 생성
    for (let i = 0; i <= divisionsHeight; i++) {
        const horizontalPoints = [
            new THREE.Vector3(0, i * stepHeight, 0),
            new THREE.Vector3(width, i * stepHeight, 0)
        ];
        const geometryH = new THREE.BufferGeometry().setFromPoints(horizontalPoints);
        const horizontalLine = new THREE.Line(geometryH, material);
        gridHelper.add(horizontalLine);
    }

    // 수직선 생성
    for (let j = 0; j <= divisionsWidth; j++) {
        const verticalPoints = [
            new THREE.Vector3(j * stepWidth, 0, 0),
            new THREE.Vector3(j * stepWidth, height, 0)
        ];
        const geometryV = new THREE.BufferGeometry().setFromPoints(verticalPoints);
        const verticalLine = new THREE.Line(geometryV, material);
        gridHelper.add(verticalLine);
    }
    return gridHelper;
}
async function initializeThreeJS() {
		// const data = await loadJSONData();
		// const boxes = data.boxes;
    const container = document.getElementById('threejs_container');
		if (!container) return;
    // if (!container.firstChild) { // Prevent multiple initializations
        const renderer = new THREE.WebGLRenderer({antialias: true});
        renderer.setSize(container.clientWidth, container.clientHeight);
        container.appendChild(renderer.domElement);

        const scene = new THREE.Scene();
				scene.background = new THREE.Color(0xffffff);
        // const camera = new THREE.PerspectiveCamera(75, container.clientWidth / container.clientHeight, 0.1, 1000);
        // camera.position.z = 5;
				const containerWidth = 2700;
				const containerHeight = 1600;
				const containerDepth = 1600;
				const width = container.clientWidth;
				const height = container.clientHeight;
				const depth = container.clientDepth;
				const camera = new THREE.PerspectiveCamera(
						60,
						width / height,
						1,
						100000
				);
				camera.position.set(1350, -3000, 2000);
				const containerCenter = new THREE.Vector3(containerWidth / 2, containerHeight / 2, containerDepth / 2);

        const controls = new TrackballControls(camera, renderer.domElement);
				controls.target.copy(containerCenter);
				controls.update();

        const containerMesh = createContainer(2700, 1600, 1600, 0xaaaaaa);
	      scene.add(containerMesh);

        // 상자 추가하는 부분 (옵션)
        // const box = createBoxWithEdges(410, 310, 210, 0xff0000);
        // box.position.set(0, 0, 0); // 상자 위치 조정
        // scene.add(box);
				// const box = createBoxWithEdges(parseInt(data.width), parseInt(data.height), parseInt(data.depth), 0xff0000);
				// const centerX = data.positionX + data.width / 2;
        // const centerY = data.positionY + data.height / 2;
        // const centerZ = data.positionZ + data.depth / 2;
        // box.position.set(centerX, centerY, centerZ);
        // scene.add(box);



        // 그리드 추가 (옵션)
        const grid = createCustomGrid(2700, 1600, 16, 27, 0x888888);
        scene.add(grid);

        function animate() {
            requestAnimationFrame(animate);
            // cube.rotation.x += 0.01;
            // cube.rotation.y += 0.01;
            renderer.render(scene, camera);
						controls.update();
        }

        animate();
    }
		function updateScene(data) {
    // 씬에서 기존 상자 제거
    const existingObject = scene.getObjectByName('boxMesh');
    if (existingObject) {
        scene.remove(existingObject);
    }

    // 새 상자 생성
    const box = createBoxWithEdges(parseInt(data.width), parseInt(data.height), parseInt(data.depth), 0xff0000);
    box.name = 'boxMesh';  // 새 상자에 이름 할당
    scene.add(box);

}

</script>			
<!-- <script type="module">
	import * as THREE from '/static/three.module.js';
	import { TrackballControls } from '/static/TrackballControls.js';
	
	let scene, renderer, camera, controls;
	
	async function loadJSONData() {
        const response = await fetch('/static/saved_data.json');
        return await response.json();
	}
		
	document.addEventListener('DOMContentLoaded', () => {
    const modal = document.getElementById('modal');
    const closeBtn = document.querySelector('.close-btn');
    const rows = document.querySelectorAll('.box_table');

    rows.forEach(row => {
        row.addEventListener('click', () => {
            modal.style.display = 'block';
						
            initializeThreeJS(); // 모달 창이 표시될 때 Three.js 초기화
        });
    });

    closeBtn.addEventListener('click', () => {
        modal.style.display = 'none';
        const container = document.getElementById('threejs_container');
        while (container.firstChild) {
            container.removeChild(container.firstChild); // Clean up the scene
        }
    });
});
function createContainer(width, height, depth, color) {
	    const geometry = new THREE.BoxGeometry(width, height, depth);
	    const material = new THREE.MeshBasicMaterial({
	        color: color,
	        wireframe: true,
	        transparent: true,
	        opacity: 0.5
	    });
	    const containerMesh = new THREE.Mesh(geometry, material);
	    // 컨테이너의 중심이 원점에 위치하도록 설정
	    containerMesh.position.set(width / 2, height / 2, depth / 2);
	    return containerMesh;
}

// 상자와 외곽선을 만드는 함수
function createBoxWithEdges(width, height, depth, color) {
    // 상자 생성
    const geometry = new THREE.BoxGeometry(width, height, depth);
    const material = new THREE.MeshBasicMaterial({ color:color, transparent : true, opacity: 0.7});
    const box = new THREE.Mesh(geometry, material);

    // 상자 외곽선 생성
    const edges = new THREE.EdgesGeometry(geometry);
    const edgesMaterial = new THREE.LineBasicMaterial({ color: 0x000000 });
    const edgesMesh = new THREE.LineSegments(edges, edgesMaterial);

    // 상자와 외곽선을 하나의 그룹으로 묶음
    const group = new THREE.Group();
    group.add(box);
    group.add(edgesMesh);

    return group;
}

function createCustomGrid(width, height, divisionsWidth, divisionsHeight, color) {
    const gridHelper = new THREE.Group();
    const stepWidth = width / divisionsWidth;
    const stepHeight = height / divisionsHeight;

    const material = new THREE.LineBasicMaterial({ color: color });

    // 수평선 생성
    for (let i = 0; i <= divisionsHeight; i++) {
        const horizontalPoints = [
            new THREE.Vector3(0, i * stepHeight, 0),
            new THREE.Vector3(width, i * stepHeight, 0)
        ];
        const geometryH = new THREE.BufferGeometry().setFromPoints(horizontalPoints);
        const horizontalLine = new THREE.Line(geometryH, material);
        gridHelper.add(horizontalLine);
    }

    // 수직선 생성
    for (let j = 0; j <= divisionsWidth; j++) {
        const verticalPoints = [
            new THREE.Vector3(j * stepWidth, 0, 0),
            new THREE.Vector3(j * stepWidth, height, 0)
        ];
        const geometryV = new THREE.BufferGeometry().setFromPoints(verticalPoints);
        const verticalLine = new THREE.Line(geometryV, material);
        gridHelper.add(verticalLine);
    }
    return gridHelper;
}
async function initializeThreeJS() {
		const data = await loadJSONData();
		// const boxes = data.boxes;
    const container = document.getElementById('threejs_container');
    if (!container.firstChild) { // Prevent multiple initializations
        const renderer = new THREE.WebGLRenderer({antialias: true});
        renderer.setSize(container.clientWidth, container.clientHeight);
        container.appendChild(renderer.domElement);

        const scene = new THREE.Scene();
				scene.background = new THREE.Color(0xffffff);
        // const camera = new THREE.PerspectiveCamera(75, container.clientWidth / container.clientHeight, 0.1, 1000);
        // camera.position.z = 5;
				const containerWidth = 2700;
				const containerHeight = 1600;
				const containerDepth = 1600;
				const width = container.clientWidth;
				const height = container.clientHeight;
				const depth = container.clientDepth;
				const camera = new THREE.PerspectiveCamera(
						60,
						width / height,
						1,
						100000
				);
				camera.position.set(1350, -3000, 2000);
				const containerCenter = new THREE.Vector3(containerWidth / 2, containerHeight / 2, containerDepth / 2);

        const controls = new TrackballControls(camera, renderer.domElement);
				controls.target.copy(containerCenter);
				controls.update();

        const containerMesh = createContainer(2700, 1600, 1600, 0xaaaaaa);
	      scene.add(containerMesh);

        // 상자 추가하는 부분 (옵션)
        // const box = createBoxWithEdges(410, 310, 210, 0xff0000);
        // box.position.set(0, 0, 0); // 상자 위치 조정
        // scene.add(box);
				const box = createBoxWithEdges(parseInt(data.width), parseInt(data.height), parseInt(data.depth), 0xff0000);
				const centerX = data.positionX + data.width / 2;
        const centerY = data.positionY + data.height / 2;
        const centerZ = data.positionZ + data.depth / 2;
        box.position.set(centerX, centerY, centerZ);
        scene.add(box);



        // 그리드 추가 (옵션)
        const grid = createCustomGrid(2700, 1600, 16, 27, 0x888888);
        scene.add(grid);

        function animate() {
            requestAnimationFrame(animate);
            // cube.rotation.x += 0.01;
            // cube.rotation.y += 0.01;
            renderer.render(scene, camera);
						controls.update();
        }

        animate();
    }
		document.addEventListener('DOMContentLoaded', initializeThreeJS);
}
</script> -->
	

<script>
	document.addEventListener('DOMContentLoaded', function () {
            const modal = document.getElementById('modal');
            const closeBtn = document.querySelector('.close-btn');

						//const rows = document.querySelectorAll('.box_table');
						// const infoDisplay = document.getElementById('infoDisplay');
        		const rows = document.querySelectorAll('.box_table');
            rows.forEach(row => {
                row.addEventListener('click', function () {
									const cells = this.querySelectorAll('td');
				// 셀의 데이터를 모아서 표시합니다.
									let rowData = [];
									cells.forEach(cell => {
										rowData.push(cell.textContent.trim());
									});
                    // AJAX 요청으로 DB에서 데이터 가져오기
                    $.ajax({
                        url: '/getloaddata/',
                        type: 'GET',
                        data: { boxcode: rowData[1] },
                        success: function (response) {
                            // 서버로부터 받은 데이터를 모달 창에 표시
                            Display.innerHTML = 
														"송장번호: " + rowData[1] + "<br>고객명: " + rowData[2]+ "<br>주소: " + rowData[3]+
														"<br>상세주소: " + rowData[4]+ "<br>전화번호: " + rowData[5] + "<br>길이:" + rowData[6]+ "<br>너비:" + rowData[7]+ "<br>높이:" + rowData[8]+ "<br>배송순서: " + rowData[9]+ "<br>적재순서: " + rowData[10]+ "<br>레이어: " + rowData[11]+ "<br>X좌표: " + rowData[12]+ "<br>Y좌표: " + rowData[13]+ "<br>Z좌표: " + rowData[14];
														
														$('#info').css({'display': 'none'});
                            
                            modal.style.display = 'flex'; // 모달 열기
														
                        },
                        error: function (xhr, status, error) {
                            console.error('AJAX 요청 실패:', error);
                        }
                    });
                });
            });

            // 모달 닫기 버튼 클릭 시 모달을 숨기는 이벤트
            closeBtn.addEventListener('click', function () {
                modal.style.display = 'none';
            });
        });
    </script>

<script>
	document.addEventListener('DOMContentLoaded', function () {
    const rows = document.querySelectorAll('.box_table');
    rows.forEach(row => {
        row.addEventListener('click', function () {
            const rowData = {};
            const cells = this.querySelectorAll('td');
            cells.forEach((cell, index) => {
                // 예시로 각 열에 대한 키를 설정합니다. 실제 열 이름에 맞게 조정해야 합니다.
                const header = ["id", "box_code", "name", "road_address", "detail_address", "phone", "width", "height", "depth", "deliverySequence", "loadSequence", "layer", "positionX", "positionY", "positionZ"][index];
                rowData[header] = cell.textContent.trim();
            });
            console.log(JSON.stringify(rowData)); // 콘솔에 JSON 출력
            // 서버로 데이터 전송
            sendDataToServer(rowData);
        });
    });
});

function sendDataToServer(data) {
    $.ajax({
        url: '/save_row_data/', // Django URL
        type: 'POST',
        data: JSON.stringify(data),
        contentType: 'application/json; charset=utf-8',
        headers: {'X-CSRFToken': '{{ csrf_token }}'},
        success: function(response) {
            alert('데이터가 서버에 성공적으로 저장되었습니다.');
        },
        error: function(xhr, status, error) {
            console.error('저장 실패:', error);
        }
    });
}

</script>
</body>
</html>