<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>택트리스</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
	<script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    
    <style>
		.box{
		  width: 400px;
		  height: 50px; 
  		  border: 1px solid black;
		  overflow: hidden;
		  display: flex;
		  justify-content: center;
		  align-items: center;
	  	}

        input[type="file"]::file-selector-button {
           display:none
          }
          
	  </style>

</head>

<body>
	<div style="height:100px;background-color:#4676EF;display: flex; flex-direction: row ; text-align: center; justify-content: space-between;">
		<div style="width:200px;" ><a href="/" style="text-decoration-line:none" id="Home">
			<img style="height: 90px;border: 1px solid black; box-shadow: 2px 2px 2px 2px rgb(77, 71, 71) ;object-fit: contain;"src="/static/image/택트리스 로고.png">
		</a></div>
		<div style="padding-top:40px;padding-right:20px"><a href="/Login/userlogin" style="text-decoration-line:none;color:white;font-size:20px;"> 로그아웃</a></div>
	</div>


<button id="getexceldata" type="button">좌표 api 불러오기</button>
<ul>
    {% for address in address_list %}
        <div class="roadAddress" style="display : none">{{ address.road_address }}</div>
        <div class="detailAddress" style="display : none">{{ address.detail_address }}</div>    
    {% endfor %}
</ul>


<div style=" display: flex; flex-direction: row ; text-align: center; justify-content: center;padding-top:100px;">
    <div class="box" style="border: None; font-size:50px;">데이터 업로드</div>
</div>
<div style="margin-left:120px;margin-right:120px; height:600px; border: 2px solid black;">
	
	<div style="display: flex;justify-content:center">
            <div style="height:200px; width:200px;padding-left:10px;">
                <span id="add_excel" class="material-symbols-outlined" style="font-size: 150px; cursor: pointer;">upload_file</span>
                <input id="input-excel" type="file" id='excelupload' accept=".xlsx, .xls" style="font-size:20px" > 
            </div>

    </div>

</div>



    


<!-- Optional JavaScript; -->
<script type="text/javascript">
    var csrftoken = '{{ csrf_token }}';
</script>

<script>
    $('#add_excel').click(function() {
        // 'input-excel' 버튼을 프로그래매틱하게 클릭합니다.
        document.getElementById('input-excel').click();
    });

    // 파일 선택 시의 이벤트 리스너
    document.getElementById('input-excel').addEventListener('change', function() {
        if (this.files && this.files[0]) {
            console.log('선택된 파일:', this.files[0].name);
            var formData = new FormData();
            formData.append('file', this.files[0]);

            // AJAX 요청을 통해 파일을 서버로 업로드
            $.ajax({
                url: '/upload/', // Django 애플리케이션의 엔드포인트, 끝에 슬래시를 주의하세요!
                type: 'POST',
                data: formData,
                processData: false, // 데이터를 query string으로 변환하지 않도록 설정
                contentType: false, // 컨텐트 타입 헤더를 multipart/form-data로 설정하지 않도록 설정
                headers: {"X-CSRFToken": csrftoken}, // CSRF 토큰을 헤더에 포함
                success: function(response) {
                    console.log(response.message);
                    // 파일이 성공적으로 업로드 되었을 때 로직
                    alert("파일 업로드가 완료되었습니다.");

                },
                error: function(xhr, status, error) {
                    // 오류 처리
                    console.error(error);
                }
            });
        }
    });

    function address_upload(r,d,lat,lon,lat2,lon2){

        $.ajax({
            url:'/Order/itsdata',
            data:{
                road_address:r,
                detail_address:d,
                latitude:lat,
                longitude:lon,
                latitude2:lat2,
                longitude2:lon2

            },
            method:"PATCH",

            success: function(data){
                  console.log(lat,lon,"성공");
                  location.replace("/");
                },
                error: function (request, status, error){
                  console.log("에러");
                },
                complete: function(){
                  console.log("완료");
                }
      
        });

    }


    function address_api(r,d){
        // 2. API 사용요청
        //var fullAddr = $("#fullAddr").val();
       
        var roadAddress=r;
        var detailAddress=d;
        //var fullAddr = roadAddress + " " + detailAddress;
        var headers = {}; 
        headers["appKey"]="{{ tmap_key }}";
        $.ajax({
            method : "GET",
            headers : headers,
            url : "https://apis.openapi.sk.com/tmap/geo/fullAddrGeo?version=1&format=json&callback=result",
            async : false,  // 동기 요청으로 변경
            //async: true, 
            contentType: "application/json",
            data:  // URL 쿼리 파라미터로 데이터 전송
                {version: "1",
                format: "json",
                callback: "result",
                coordType: "WGS84GEO",
                fullAddr: roadAddress},
                
            success : function(response) {

                var resultInfo = response.coordinateInfo; // .coordinate[0];
                console.log(resultInfo);
                

                // 검색 결과 정보가 없을 때 처리
                if (resultInfo.coordinate.length == 0) {
                    $("#result").text(
                    "요청 데이터가 올바르지 않습니다.");
                } else {
                    var lon, lat;
                    var resultCoordinate = resultInfo.coordinate[0];
                    if (resultCoordinate.lon.length > 0) {
                        // 구주소
                        lon = resultCoordinate.lon;
                        lat = resultCoordinate.lat;
                    } else { 
                        // 신주소
                        lon = resultCoordinate.newLon;
                        lat = resultCoordinate.newLat
                    }
                
                    var lonEntr, latEntr;
                    
                    if (resultCoordinate.lonEntr == undefined && resultCoordinate.newLonEntr == undefined) {
                        lonEntr = 0;
                        latEntr = 0;
                    } else {
                        if (resultCoordinate.lonEntr.length > 0) {
                            lonEntr = resultCoordinate.lonEntr;
                            latEntr = resultCoordinate.latEntr;
                        } else {
                            lonEntr = resultCoordinate.newLonEntr;
                            latEntr = resultCoordinate.newLatEntr;
                        }
                    }
                    
                    console.log(Number(lat), Number(lon))
                    address_upload(roadAddress,detailAddress,Number(lat), Number(lon),Number(latEntr), Number(lonEntr)) // api로 불러온 값 DB에 저장하기
            
                }
            },
            error : function(request, status, error) {
                console.log(request);
                console.log("code:"+request.status + "\n message:" + request.responseText +"\n error:" + error);
                // 에러가 발생하면 
                $("#result").html(" ");
            
            }
        });	

        
}   

    // 버튼 누르면 api 호출
    $('#getexceldata').click(function() {
        alert("버튼 클릭");
        var roadAddresses = document.querySelectorAll('.roadAddress');
        var detailAddresses = document.querySelectorAll('.detailAddress');
        var Index = roadAddresses.length - 1; // 마지막 인덱스를 가져옵니다.
        for (i=0;i<roadAddresses.length;i++){
            var roadAddress = roadAddresses[i].textContent;
            var detailAddress = detailAddresses[i].textContent;
            address_api(roadAddress,detailAddress);      

        }
    
    });


</script>


</body>
</html>