<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>택트리스</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://apis.openapi.sk.com/tmap/jsv2?version=1&appKey={{ tmap_key }}"></script>
	<style>
		.box{
			width: 200px;
			height: 50px; 
			overflow: hidden;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size:30px;
			font-weight: 600;
			}
      .box:hover{
        background: #E1EAF8;
    }
	  </style>
	<script type="text/javascript">
		var map;
	// 페이지가 로딩이 된 후 호출하는 함수입니다.
	function initTmap(){
		// map 생성
		// Tmapv2.Map을 이용하여, 지도가 들어갈 div, 넓이, 높이를 설정합니다.
		map = new Tmapv2.Map("map_div", {
			center : new Tmapv2.LatLng(37.56520450, 126.98702028),
			width : "100%",
			height : "100%",
			zoom : 16,
			zoomControl : true,
			scrollwheel : true
		});
		//Marker 객체 생성.


		var lats = document.querySelectorAll('.latitude');
		var lons = document.querySelectorAll('.longitude');
			for (i=0;i<lats.length;i++){
				var lat = lats[i].textContent;
				var lon = lons[i].textContent;
				var marker = new Tmapv2.Marker({
					position: new Tmapv2.LatLng(Number(lat),Number(lon)), //Marker의 중심좌표 설정.
					map: map //Marker가 표시될 Map 설정..
				});
				map.setCenter(new Tmapv2.LatLng(Number(lat),Number(lon)));
			}
		
		
		
	
	}
	
	</script>
	

	</head>
	<body onload=initTmap();>
		<div style="height:100px;background-color:#4676EF;display: flex; flex-direction: row ; text-align: center; justify-content: space-between;">
			<div style="width:200px;" ><a href="/" style="text-decoration-line:none" id="Home">
				<img style="height: 90px;border: 1px solid black; box-shadow: 2px 2px 2px 2px rgb(77, 71, 71) ;object-fit: contain;"src="/static/image/택트리스 로고.png">
			</a></div>
			<div style="padding-top:40px;padding-right:20px"><a href="/Login/userlogin" style="text-decoration-line:none;color:white;font-size:20px;"> 로그아웃</a></div>
		</div>
		
		<div style=" display:flex;flex-direction: row;">
			<div style="height:700px; width:200px; text-align: center; display: flex;flex-direction: column;justify-content:space-evenly;">
				<div class="box"><a href="/Box/boxlist" style="font-size:30px;;text-decoration-line:none;color:black">상품 목록</a></div>
				<div class="box"><a href="/Load/boxload" style="color:black;font-size:30px;text-decoration-line:none">적재</a></div>
				<div class="box" style="background: #E1EAF8"><a href="/Route/map" style="color:black;text-decoration-line:none;color:#4676EF;font-size:35px">지도</a></div>
				<div class="box"><a href="/Route/road" style="color:black;text-decoration-line:none">배송 경로</a></div>
			</div>
			<div style="color:blue;width: 1500px;">
				<div style="width:1150px;height:700px;content-align:center;margin:50px;"> <!--background-color:#4676EF-->
	
		<div style="display:flex;flex-direction:row;">
			<input type="search" style="width: 700px;height:50px;color:gray;padding-left:20px;font-size:20px" placeholder="주소, 송장번호, 고객 전화번호 등을 검색하세요" />
			<button type="button"  style="width:100px;background-color:#4676EF;border:none;border-radius:3px;color:white;font-size:30px" > 검색</button>
		</div>
		
		<div style="display:flex;display-direction:row;justify-content:space-between">
			<div style="width:800px;height:600px;padding-top:30px">
				<div id="map_div"></div>
		<p id="result"/>
			</div>
			<div style="width:320px;height:600px;background-color:green;padding-top:30px">항목을 클릭하면 상세 정보가 나타납니다.</div>
		</div>
		<!-- Route/map.html -->
		<ul>
			{% for address in address_list %}
				<div class="latitude" style="display:None">{{ address.latitude }}</div>
				<div class="longitude" style="display:None">{{ address.longitude }}</div>
				
			{% endfor %}
		</ul>
		
		
	</div>
</div>
</div> 
		

	</body>