<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>택트리스</title>

	<style>
		.box {
		  width: 400px;
		  height: 50px; 
  		  border: 1px solid black;
		  overflow: hidden;
		  display: flex;
		  justify-content: center;
		  align-items: center;
	  }
      .box:hover{
        background: #BEBEBE;
    }
	  </style>

</head>

<body>
<div style="height:100px;background-color:#2b496d;display: flex; flex-direction: row ; text-align: center; justify-content: space-between;">
	<div>Tectrics</div>
	<div>로그인</div>
</div>
<div style="margin:120px; height:600px; border: 2px solid black;">
	<div style=" display: flex; flex-direction: row ; text-align: center; justify-content: space-between">
		<div class="box" ><a href="/" style="color:black;text-decoration-line:none">상품 목록</a></div>
        <div class="box"><a href="/Load/boxload" style="color:black;text-decoration-line:none">적재</a></div>
		<div class="box" style="background-color:#BEBEBE">배송 경로</div>
	</div>
    <div>배송</div>
</div>
</body>
</html>