<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>택트리스</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://apis.openapi.sk.com/tmap/jsv2?version=1&appKey={{ tmap_key }}"></script>
    <script type="text/javascript">
        var map;
        var marker_s, marekr_e;

        //경로그림정보
        var drawInfoArr = [];

        function initTmap() {
            // 1. 지도 띄우기
            var map = new Tmapv2.Map("map_div", {
                center: new Tmapv2.LatLng(37.56701114710962, 126.9973611831669),
                width: "100%",
                height: "500px",
                zoom: 14,
                zoomControl: true,
                scrollwheel: true
            });
        	// 시작, 도착 심볼찍기
            // 시작
            marker_s = new Tmapv2.Marker({
                position : new Tmapv2.LatLng(37.568085523663385, 126.98605733268329),
                //icon : "/upload/tmap/marker/pin_r_m_s.png",
                //iconSize : new Tmapv2.Size(24, 38),
                map:map
            });
            
            // 도착 
            marker_e = new Tmapv2.Marker({
                position : new Tmapv2.LatLng(37.56445848334345, 127.00973587385866),
                //icon : "/upload/tmap/marker/pin_r_m_e.png",
                //iconSize : new Tmapv2.Size(24, 38),
                map:map
            });

            marker = new Tmapv2.Marker({
                position : new Tmapv2.LatLng(37.56626352138058, 126.98735015742581),
                //icon : "/upload/tmap/marker/pin_b_m_1.png",
                //iconSize : new Tmapv2.Size(24, 38),
                map:map
            });
            
            marker = new Tmapv2.Marker({
                position : new Tmapv2.LatLng(37.56568310756034, 127.00221495976581),
                //icon : "/upload/tmap/marker/pin_b_m_2.png",
                //iconSize : new Tmapv2.Size(24, 38),
                map:map
            });
            
            marker = new Tmapv2.Marker({
                position : new Tmapv2.LatLng(37.570369, 126.992153),
                //icon : "/upload/tmap/marker/pin_b_m_3.png",
                //iconSize : new Tmapv2.Size(24, 38),
                map:map
            });
            
            marker = new Tmapv2.Marker({
                position : new Tmapv2.LatLng(37.56335290252303, 127.00352387777271),
                //icon : "/upload/tmap/marker/pin_b_m_4.png",
                //iconSize : new Tmapv2.Size(24, 38),
                map:map
            });
            
            marker = new Tmapv2.Marker({
                position : new Tmapv2.LatLng(37.570721714117965, 127.00186090818215),
                //icon : "/upload/tmap/marker/pin_b_m_5.png",
                //iconSize : new Tmapv2.Size(24, 38),
                map:map
            });
            
            marker = new Tmapv2.Marker({
                position : new Tmapv2.LatLng(37.56515390827723, 126.99066536776698),
                //icon : "/upload/tmap/marker/pin_b_m_6.png",
                //iconSize : new Tmapv2.Size(24, 38),
                map:map
            });

            var headers = {}; 
	headers["appKey"]="{{ tmap_key }}";
	
	$.ajax({
		type:"POST",
		headers : headers,
		url:"https://apis.openapi.sk.com/tmap/routes/routeOptimization100?version=1&format=json",// 경로 30 최적화임
		async:false,
		contentType: "application/json",
		data: JSON.stringify({
				  "reqCoordType": "WGS84GEO",
				  "resCoordType" : "EPSG3857",
				  "startName": "출발",
				  "startX": "126.98605733268329",
				  "startY": "37.568085523663385",
				  "startTime": "201711121314",
				  "endName": "도착",
				  "endX": "127.00973587385866",
				  "endY": "37.56445848334345",
				  "searchOption" : "0",
				  "viaPoints": [
				    {
				      "viaPointId": "test01",
				      "viaPointName": "test01",
				      "viaX": "126.98735015742581",
				      "viaY": "37.56626352138058",
				    },
				    {
				      "viaPointId": "test02",
				      "viaPointName": "test02",
				      "viaX": "127.00221495976581",
				      "viaY": "37.56568310756034",
				    },
				    {
				      "viaPointId": "test03",
				      "viaPointName": "test03",
				      "viaX": "126.992153",
				      "viaY": "37.570369",
				    },
				    {
				      "viaPointId": "test04",
				      "viaPointName": "test04",
				      "viaX": "127.00352387777271",
				      "viaY": "37.56335290252303",
				    },
				    {
				      "viaPointId": "test05",
				      "viaPointName": "test05",
				      "viaX": "127.00186090818215",
				      "viaY": "37.570721714117965",
				    },
				    {
				      "viaPointId": "test06",
				      "viaPointName": "test06",
				      "viaX": "126.99066536776698", 
				      "viaY": "37.56515390827723",
				    }
				  ]
		}),
		success:function(response){
			var resultData = response.properties;
			var resultFeatures = response.features;
			
			// 결과 출력
			var tDistance = "총 거리 : " + (resultData.totalDistance/1000).toFixed(1) + "km,  ";
			var tTime = "총 시간 : " + (resultData.totalTime/60).toFixed(0) + "분,  ";
			var tFare = "총 요금 : " + resultData.totalFare + "원";
			
			$("#result").text(tDistance+tTime+tFare);
			console.log(tDistance,"  ",tTime,"  ",tFare)  ///추가함
			for(var i in resultFeatures) {
				var geometry = resultFeatures[i].geometry;
				var properties = resultFeatures[i].properties;
				var polyline_;
				
				drawInfoArr = [];
				
				if(geometry.type == "LineString") {
					for(var j in geometry.coordinates){
						// 경로들의 결과값(구간)들을 포인트 객체로 변환 
						var latlng = new Tmapv2.Point(geometry.coordinates[j][0], geometry.coordinates[j][1]);
						// 포인트 객체를 받아 좌표값으로 변환
						var convertPoint = new Tmapv2.Projection.convertEPSG3857ToWGS84GEO(latlng);
                        console.log(convertPoint)
						// 포인트객체의 정보로 좌표값 변환 객체로 저장
						var convertChange = new Tmapv2.LatLng(convertPoint._lat, convertPoint._lng);
						
						drawInfoArr.push(convertChange);
					}

					polyline_ = new Tmapv2.Polyline({
						path : drawInfoArr,
						strokeColor : "#FF0000",
						strokeWeight: 6,
						map : map
					});
				}
			}
		},
		error:function(request,status,error){
			console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
		}
	});
        }
    </script>

	<style>
		.box {
		  width: 400px;
		  height: 50px; 
  		  border: 1px solid black;
		  overflow: hidden;
		  display: flex;
		  justify-content: center;
		  align-items: center;
	  }
      .box:hover{
        background: #BEBEBE;
    }
	  </style>

</head>

<body onload="initTmap()">
<div style="height:100px;background-color:#4676EF;display: flex; flex-direction: row ; text-align: center; justify-content: space-between;">
	<div>Tectrics</div>
	<div>로그인</div>
</div>
<div style="margin:120px; height:600px; border: 2px solid black;">
	<div style=" display: flex; flex-direction: row ; text-align: center; justify-content: space-between">
		<div class="box" ><a href="/Box/boxlist" style="color:black;text-decoration-line:none">상품 목록</a></div>
        <div class="box"><a href="/Load/boxload" style="color:black;text-decoration-line:none">적재</a></div>
		<div class="box" style="background-color:#BEBEBE">배송 경로</div>
	</div>
    <div style="display:flex; flex-direction: row ;">
         
		<div style="width:100%; height:100%;">
			<div id="map_wrap" class="map_wrap" style="display:flex;flex-direction: row ;">
				<div id="map_div"></div>
			</div>
			<div id="result"></div> 
		</div>
        <div style="width:300px;">상품 리스트 들어가는 곳</div>
    </div>
</div>
</body>
</html>