
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>택트리스</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://apis.openapi.sk.com/tmap/jsv2?version=1&appKey={{ tmap_key }}"></script>
    <script type="text/javascript">
        var map;
        var marker_s, marekr_e;

        //경로그림정보
        var drawInfoArr = [];

        function initTmap() {
            // 1. 지도 띄우기
            var map = new Tmapv2.Map("map_div", {
                center: new Tmapv2.LatLng(37.56701114710962, 126.9973611831669),
                width: "100%",
                height: "600px",
                zoom: 16,
                zoomControl: true,
                scrollwheel: true
            });
        	// 시작, 도착 심볼찍기
            // 시작
            marker_s = new Tmapv2.Marker({
                position : new Tmapv2.LatLng(37.40606, 127.2145),
                icon : "https://tmapapi.tmapmobility.com/upload/tmap/marker/pin_r_m_s.png",
                iconSize : new Tmapv2.Size(24, 38),
                map:map
            });
            
            // 도착 
            marker_e = new Tmapv2.Marker({
                position : new Tmapv2.LatLng(37.40606, 127.2145),
                icon : "https://tmapapi.tmapmobility.com/upload/tmap/marker/pin_r_m_e.png",
                iconSize : new Tmapv2.Size(24, 38),
                map:map
            });
			var codes = document.querySelectorAll('.box_code');
			var lats = document.querySelectorAll('.latitude');
			var lons = document.querySelectorAll('.longitude');
			//var codes = document.querySelectorAll('.box_code');
			var BoxObject = [];
			
				for (i=0;i<lats.length;i++){
					var lat = lats[i].textContent;
					var lon = lons[i].textContent;
					//var code = codes[i].textContent;
					BoxObject.push({
						"viaPointId": lat+" "+lon, // 인덱스가 0부터 시작하므로 1을 더해야 합니다.
						"viaPointName": "test" + (i + 1),
						"viaX": lon,
						"viaY": lat
					});
					

					map.setCenter(new Tmapv2.LatLng(Number(lat),Number(lon)));
				}


            var headers = {}; 
	headers["appKey"]="{{ tmap_key }}";
	
	$.ajax({
		type:"POST",
		headers : headers,
		url:"https://apis.openapi.sk.com/tmap/routes/routeOptimization100?version=1&format=json",// 경로 100 최적화임
		async:false,
		contentType: "application/json",
		data: JSON.stringify({
				  "reqCoordType": "WGS84GEO",
				  "resCoordType" : "EPSG3857",
				  "startName": "출발",
				  "startX": "127.2145",
				  "startY": "37.40606",
				  "startTime": "202401121314",
				  "endName": "도착",
				  "endX": "127.2145",
				  "endY": "37.40606",
				  "searchOption" : "0",
				  "carType":"3",
				  //"coordinateFlag":"1",     //경로좌표 표시 안함
				  "deliveryAccuracy":"3",   // 탐색 정도
				  "viaPoints": BoxObject
				  
		}),
		success:function(response){
			var resultData = response.properties;
			var resultFeatures = response.features;
			var resultSeq = resultFeatures.reduce(function(Seq, feature) {
				Seq[feature.properties.index] = {
					"lat_lon": feature.properties.viaPointId,
					"viaName": feature.properties.viaPointName
				};
				return Seq;
			}, {}); // 초기값으로 빈 객체 {} 추가
			var tIndex = "순서 : " + JSON.stringify(resultSeq);
			console.log(tIndex);
			
			var markers = [];
			//순서와 좌표
			Object.keys(resultSeq).forEach(function(key) {
				lat_lon=resultSeq[key].lat_lon.split(' ')
				
					//마커 출력
				markers[key] = new Tmapv2.Marker({
					position: new Tmapv2.LatLng(Number(lat_lon[0]),Number(lat_lon[1])), //Marker의 중심좌표 설정.
					icon : "/static/image/marker/marker_"+key+".png",
					iconSize : new Tmapv2.Size(24, 38),
					map: map //Marker가 표시될 Map 설정..
				});

				addListener(markers[key], new Tmapv2.LatLng(Number(lat_lon[0], Number(lat_lon[1]))),key);
				
				// 클릭이벤트
				function addListener(marker,latlng,key){
					marker.addListener("click",function(evt){
					console.log(marker.getPosition());
					$.ajax({
						url:'/getaddress/',
						data:{
							"latitude2": Math.round(marker.getPosition()._lat*1000000)/1000000,
							"longitude2":Math.round(marker.getPosition()._lng*1000000)/1000000

						},
						method:'GET',
	
						success: function(response){
							console.log(response.road_address);
							$("#click_address").html("배송 순서: " + key + "<br>주소: " + response.road_address);
							
							
						  },
						  error: function (request, status, error){
							console.log("에러");
						  },
						  complete: function(){
							console.log("완료");
						  }
				
				  });

					
					});
					}

				$.ajax({
					url:'/Route/road',
					data:{
						"sequence":key,
						"latitude2":lat_lon[0],
						"longitude2":lat_lon[1]
					},
					method:'PATCH',

					success: function(data){
						console.log(key,"성공");
					  },
					  error: function (request, status, error){
						console.log("에러");
					  },
					  complete: function(){
						console.log("완료");
					  }
			
			  });
			

			});

			

			
		
			// 결과 출력
			var tDistance = "총 거리 : " + (resultData.totalDistance/1000).toFixed(1) + "km,  ";
			var tTime = "총 시간 : " + (resultData.totalTime/60).toFixed(0) + "분,  ";
			var tFare = "총 요금 : " + resultData.totalFare + "원";
			//var tIndex = "순서 : " + resultIndices.join(", ");
			//var tIndex = "순서 : "+resultSeq;
			$("#result").text(tDistance+tTime+tFare);
			//$("#result").text(tDistance+tTime+tFare+tIndex);
			//console.log(tDistance,"  ",tTime,"  ",tFare," ",tIndex)
			console.log(tDistance,"  ",tTime,"  ",tFare)
			for(var i in resultFeatures) {
				var geometry = resultFeatures[i].geometry;
				var properties = resultFeatures[i].properties;
				var polyline_;
				//var Seq=resultIndices[i].index;
				drawInfoArr = [];
				
				if(geometry.type == "LineString") {
					for(var j in geometry.coordinates){
						// 경로들의 결과값(구간)들을 포인트 객체로 변환 
						var latlng = new Tmapv2.Point(geometry.coordinates[j][0], geometry.coordinates[j][1]);
						// 포인트 객체를 받아 좌표값으로 변환
						var convertPoint = new Tmapv2.Projection.convertEPSG3857ToWGS84GEO(latlng);
                        console.log(convertPoint)
						// 포인트객체의 정보로 좌표값 변환 객체로 저장
						var convertChange = new Tmapv2.LatLng(convertPoint._lat, convertPoint._lng);
						
						drawInfoArr.push(convertChange);
					}

					polyline_ = new Tmapv2.Polyline({
						path : drawInfoArr,
						strokeColor : "#FF0000",
						strokeWeight: 6,
						map : map
					});
				}
			}
		},
		error:function(request,status,error){
			console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
		}
	});
}
    </script>

	<style>
		.box{
			width: 200px;
			height: 50px; 
			overflow: hidden;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size:30px;
			font-weight: 600;
			}
      .box:hover{
        background: #E1EAF8;
    }
	  </style>

</head>

<body onload="initTmap()">

	<div style="height:100px;background-color:#4676EF;display: flex; flex-direction: row ; text-align: center; justify-content: space-between;">
		<div style="width:200px;" ><a href="/Box/boxlist" style="text-decoration-line:none" id="Home">
			<img style="height: 90px;border: 1px solid black; box-shadow: 2px 2px 2px 2px rgb(77, 71, 71) ;object-fit: contain;"src="/static/image/택트리스 로고.png">
		</a></div>
		<div style="display:flex;flex-direction: row;">
			<div style="padding-top:40px;padding-right:20px;color:white;font-size:20px">{{ user_id }}</div>
			<div style="padding-top:40px;padding-right:20px"><a href="/Login/userlogin" style="text-decoration-line:none;color:white;font-size:20px;"> 로그아웃</a></div>
		</div>
	</div>
	
	<div style=" display:flex;flex-direction: row;">
		<div style="height:700px; width:200px; text-align: center; display: flex;flex-direction: column;justify-content:space-evenly;">
			<div class="box"><a href="/Box/boxlist" style="font-size:30px;color:black;text-decoration-line:none">상품 목록</a></div>
			<div class="box"><a href="/Load/boxload" style="color:black;font-size:30px;text-decoration-line:none">적재</a></div>
			<div class="box"><a href="/Route/map" style="color:black;text-decoration-line:none">지도</a></div>
			<div class="box" style="background: #E1EAF8"><a href="/Route/road" style="text-decoration-line:none;color:#4676EF;font-size:35px">배송 경로</a></div>
		</div>
		<div style="color:blue;width: 1500px;">
			<div style="width:1150px;height:700px;content-align:center;margin:50px;"> <!--background-color:#4676EF-->

	<div style="display:flex;flex-direction:row;">
		<input type="search" style="width: 700px;height:50px;color:gray;padding-left:20px;font-size:20px" placeholder="주소, 송장번호, 고객 전화번호 등을 검색하세요" />
		<button type="button"  style="width:100px;background-color:#4676EF;border:none;border-radius:3px;color:white;font-size:30px" > 검색</button>
	</div>
	
	<div style="display:flex;display-direction:row;justify-content:space-between">
		<div style="width:1200px;height:600px;padding-top:30px">
			<div style="width:100%; height:100%;">
				<div id="map_wrap" class="map_wrap" style="display:flex;flex-direction: row ;">
					<div id="map_div"></div>
				</div>
				<div id="result" style="color:black;font-size:20px;text-align:right"></div> 
				<div id="click_address" style="width:1200px;text-align: left;content-align: right;color:black;font-size:30px"></div> 
			</div>
		</div>
		
	</div>
	
	</div>

<!--db에서 데이터 가져오기 -->
<ul>
	{% for box in address_list %}
				<div class="box_code" style="display:None">{{ box.box_code }}</div>	
	{% endfor %}

	{% for latlon in unique_latlon2 %}	
		<div  class="latitude" style="display:None">{{ latlon.latitude2 }}</div>
		<div  class="longitude" style="display:None">{{ latlon.longitude2 }}</div>		
	{% endfor %}
</ul>

</div>
</div>
</div> 
</body>
</html>